.App {
  position: relative;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  text-align: center;
}

.users {
  padding: 16px;
}

h2 {
  margin-top: 0;
}

button {
  background-color: #5f95ff;
  border: 0;
  padding: 16px 24px;
  margin: 3px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  outline: none;
}

button:hover {
  opacity: 0.9;
}

button:active,
button:focus {
  background-color: #2a71fb;
}
